@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Inter", sans-serif;
  --color-brand-yellow: #facc15;
}

@layer base {
  body {
    @apply antialiased font-sans transition-colors duration-300;
  }
}
